// Hugo {{ .TableOfContents }}
$toc-background-color: #eee;
$toc-font-size: 0.9rem;

.toc-wrapper {
  font-size: $toc-font-size;
  margin-right: 1rem;
  padding: 0.2em 0.5em 0.5em 0.5em;
  background: $toc-background-color;

  label {
    background: url(/img/menu-close-dark.svg) no-repeat right center;
    display: block;
    cursor: pointer;
    padding-left: 1em;
  }

}

#TableOfContents {
  margin-top: 0;
  max-height: 80vh;
  overflow: scroll;

  > ul {
    list-style-type: none;
    padding-left: 0;

    > li ul {
      list-style-type: none;
      padding-left: 1em;
    }
  }

  li {
    line-height: 1.25rem;
  }
}

#TableOfContents li a {
  display: inline-block;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}


input#tocToggle {
  display: none;

  + label {
    font-weight: bold;
  }

  &:checked {
    + label {
      background-image: url(/img/menu-open-dark.svg);
    }

    ~ #TableOfContents {
      height: 0;
    }
  }
}
