<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <!-- header -->
	{{ block "header" . }}{{ end }}
	
	<!-- body -->
    <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
		<!-- sidebar -->
    	{{ partial "sidebar.html" . }}
		
		<!-- content -->
		<div class="content container">
	  		{{ block "content" . }}{{ end }}
		</div>
		
		<!-- footer -->
		{{ block "footer" . }}{{ end }}
		
		<!-- totop-btn -->
		{{ partial "totop-btn.html" . }}
    </body>
</html>
