pre {
  border: 1px solid #F9F9F9E7;
  border-radius: 10px;

  code {
    white-space: pre-wrap;
  }
}

code {
  background: #f0f0f0;
  text-shadow: 0 1px #fff;
  font-size: 0.85em;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  @extend %code-font;
  @extend %code-style-npf;
}

%code-font {
  font-family: $code-font-family;
  font-size: $code-font-size;
}

%code-in-rounded-box {
  border-radius: 4px;
  padding: 2px 4px;
  color: #bf616a;
  background-color: #f9f2f4;
}

%code-style-codersblock {
  padding: 2px 4px;
  border: 1px dotted #adb5db;
  background-color: $gray-1;
}

%code-style-npf {
  padding: .1em .1em;
  color: #ab5979;
  border-radius: 3px;
}

//a {
//  code {
//    color: $link-color;
//  }
//}

