@import "variables";
@import "mixins";

$sidebar-data-margin-left: 1.5rem;

// 侧边栏
.sidebar {
  background-color: $sidebar-color;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
  padding-top: 2rem;
  text-align: center;

  a {
    color: $gray-1;
    border: none;

    &:hover {
      color: $link-color;
    }

    &:focus {
      color: $link-color;
    }
  }
}

// 标题
.site_title {
  font-size: $site_title_font_size;
  margin-bottom: 0.5rem;

  a:hover {
    border: none;
  }
}

// 头像
.sidebar_about {
  margin-top: 4px;
  margin-bottom: 0.5rem;

  .author_image {
    display: block;
  }

  .img--circle {
    border-radius: 50%;
  }

  .img--headshot {
    height: 115px;
    width: 115px;
  }

  .img--caption {
    font-style: italic;
  }
}

// 描述
.site_description {
  font-size: 1.285rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// 菜单栏
.collapsible_menu {
  //padding: 2rem 0;
}

// 社交账号icon
.sitebar-social {
  a {
    padding: 0 4px;
    @include link-no-decoration();
  }

  a:first-child {
    padding-left: 0;
  }
}

// 导航
.sidebar-nav {
  padding: 0;
  margin-left: 4rem;
  text-align: left;
  list-style: none;
  font-size: 16px;
  line-height: 1.8rem;
}

// 导航明细
.sidebar-nav-item {
  display: block;
  line-height: 1.75;

  .active {
    font-weight: bold;
  }
}


%small-center-text {
  font-size: $font-scale-dot7;
  line-height: 1.1rem;
  text-align: center;
}

.sidebar-copyright {
  padding-top: 1rem;
  @extend %small-center-text;

  span {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }
}

.builtwith {
  padding-top: .2rem;
  @extend %small-center-text;
}
