// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  display: block;
}

footer {
  margin-bottom: 2rem;
}

p {
  margin: 0.4rem 0;
}

